{% extends 'core/base/_base.html' %}
{% load static %}

{% block pagetitle %}Submit Research{% endblock %}


{% block content %}
<div class="container min-h-screen py-5 lg:py-10 mb-20">
    <div class="text-2xl lg:text-4xl font-light">Article Submission</div>
    <div class="mt-10 text-xl text-black">Welcome to IOSR</div>
    <div class="">We are proud to be a trusted platform for researchers, scholars, and professionals to publish and share their valuable work to advance their fields. Thank you for joining our community—together, we advance knowledge and innovation across various fields. We look forward to supporting your research journey!</div>
    
    <div class="mt-10 grid grid-cols-1 lg:grid-cols-2 gap-10">
        <div class="col-span-1">
            <div class="h-full p-5 border bg-primary bg-opacity-15 flex flex-col justify-start items-start">
                <div class="flex-grow">
                    <div class="text-2xl font-medium">Online Submission Guideline</div>
                    <div class="mt-5">
                        <div class="">Thank you for considering IOASR for your manuscript. Please follow these guidelines to ensure a smooth submission process.</div>
                        
                        <ol class="mt-5 list-decimal list-inside space-y-5 text-sm">
                            <li>
                                <span class="font-bold text-lg">General Submission Instructions</span>
                                <ul class="list-disc list-inside">
                                    <li>Account Registration: If you do not already have an account, you will need to register by providing your name, email address, and affiliation.</li>
                                    <li>Submission Steps:
                                        <ul class="ml-6 list-circle list-inside">
                                            <li>Log in to the submission system.</li>
                                            <li>Follow the step-by-step instructions to upload your manuscript.</li>
                                            <li>Complete all required fields in the submission form, including the title, author information, keywords, and abstract.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="font-bold text-lg">Manuscript Preparation</span>
                                <ul class="list-disc list-inside">
                                    <li>File Format: Submit your manuscript as a Microsoft Word document (.doc or .docx). PDF submissions are not accepted.</li>
                                    <li>Length and Formatting:
                                        <ul class="ml-6 list-circle list-inside">
                                            <li>Ensure the manuscript follows the journal's style guidelines, including structure, and APA references style.</li>
                                            <li>Use single spacing, a standard font (e.g., Times New Roman, 12 pt), and 1-inch margins.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="font-bold text-lg">Additional Required Documents</span>
                                <ul class="list-disc list-inside">
                                    <li>Figures and Tables: Include Figures and Tables embedded within the manuscript. If they are not embedded, upload figures, tables, and other supporting files separately. Each file should be clearly labeled (e.g., Figure1.jpg, Table2.doc).</li>
                                    <li>Supplemental Materials: If your submission includes supplemental materials (e.g., data sets, additional figures), upload these as separate files and indicate in your cover letter that they should be published as supplementary content.</li>
                                </ul>
                            </li>
                            <li>
                                <span class="font-bold text-lg">Review and Response Time</span>
                                <ul class="list-disc list-inside">
                                    <li>Acknowledgment of Receipt: You will receive an automatic email acknowledgment after submitting your manuscript.</li>
                                    <li>Tracking Your Submission: You can track the status of your manuscript by logging in to the submission system.</li>
                                    <li>Review Timeline: The review process typically takes 4-6 weeks. You will be notified once a decision has been made.</li>
                                </ul>
                            </li>
                        </ol>

                        <div class="mt-5 text-xl font-bold">Author Checklist</div>
                        Before submitting, please ensure that:
                        <ul class="list-disc list-inside">
                            <li>The manuscript and all supplementary files are ready for submission.</li>
                            <li>The manuscript adheres to our formatting and citation guidelines.</li>
                            <li>All co-authors have reviewed the final version and approved the submission.</li>
                        </ul>

                        
                        <div class="my-5">
                            <div class="text-xl font-bold">Contact Information</div>
                            <div class="">For questions regarding the submission process, please contact our editorial team at <a href="mailto:submission@ioasr.org" class="underline">submission@ioasr.org</a> </div>
                            <div class="mt-5">Thank you for your interest in publishing with IOASR. We look forward to reviewing your work!</div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-span-1">
            <div class="h-full p-5 border flex flex-col justify-start items-start">
                <div class="flex-grow">
                    <div class="text-black text-2xl font-medium">Email Submission Guidelines</div>
                    <div class="mt-5">
                        <div class="">Thank you for considering submitting your work to IOASR. Please carefully follow the guidelines below when preparing your manuscript for submission via email.</div>
                        <ol class="mt-5 list-decimal list-inside space-y-5 text-sm">
                            <li>
                                <span class="font-bold text-lg">General Submission Instructions</span>
                                <ul class="list-disc list-inside">
                                    <li>Email Address: Send your manuscript to <strong>submission@ioasr.org</strong></li>
                                    <li>Subject Line: Include “Manuscript Submission” followed by the name of the selected journal.</li>
                                    <li>Body of the Email: Please include the following information:
                                        <ul class="ml-6 list-circle list-inside">
                                            <li>Title of the manuscript</li>
                                            <li>Full name(s) of the author(s) with affiliations</li>
                                            <li>Corresponding author’s contact information (email, phone number, and country)</li>
                                            <li>Type of Article (Original Research Article, Review Article, Case Report, etc.)</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="font-bold text-lg">Manuscript Format</span>
                                <ul class="list-disc list-inside">
                                    <li>File Format: Manuscripts should be submitted as a Microsoft Word document (.doc or .docx), not PDF (.pdf).</li>
                                    <li>Length and Formatting:
                                        <ul class="ml-6 list-circle list-inside">
                                            <li>Ensure that the manuscript adheres to the journal’s style guide, including any word limits, formatting, and referencing style.</li>
                                            <li>Use single spacing, a standard font (e.g., Times New Roman, 12 pt), and 1-inch margins.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="font-bold text-lg">Additional Required Documents</span>
                                <ul class="list-disc list-inside">
                                    <li>Cover Letter: Attach a cover letter as a separate document. The letter should include:
                                        <ul class="ml-6 list-circle list-inside">
                                            <li>A brief introduction of the manuscript</li>
                                            <li>A statement confirming that the work is original and not under review elsewhere</li>
                                            <li>Any potential conflicts of interest</li>
                                        </ul>
                                    </li>
                                    <li>Figures, Tables, and Supplemental Files: Include Figures and Tables embedded within the manuscript. If they are not embedded, send these as separate files. Each file should be clearly labeled (e.g., Figure1.jpg, Table2.doc).</li>
                                </ul>
                            </li>
                        </ol>
                        

                        <div class="my-5">
                            <div class="text-xl font-bold">Contact Information</div>
                            <div class="">For questions regarding the submission process, please contact our editorial team at <a href="mailto:submission@ioasr.org" class="text-blue-600 underline">submission@ioasr.org</a> </div>
                            <div class="mt-5">We appreciate your adherence to these guidelines, which helps streamline the review and publication process. Thank you for your interest in IOASR</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-10">
        <div class="font-medium text-xl">IOSR adheres to ethical guidelines, including:</div>

        <ul class="mt-3 list-disc list-inside space-y-2">
            <li>Policy Statement on Ethical Guidelines by the American Mathematical Society</li>
            <li>Best Current Practices from the Journals of the International Mathematical Union</li>
            <li>Code of Practice by the European Mathematical Society (EMS) Ethics Committee</li>
            <li>EMS Ethics Committee Comments on the EMS Code of Practice</li>
            <li>Guidelines by the Committee on Publication Ethics (COPE)</li>
        </ul>

        <div class="mt-10">For any inquiries, please refer to our FAQ section or contact us at <span class="text-primary">submission@ioasr.org</span>.</div>
    </div>
</div>


{% endblock %}