{% load compress %} 
{% load static %}
{% load solo_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% block metatags %}
    <meta property="og:site_name" content="IOASR" />
    <meta property="og:url" content="https://ioasr.org/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="IOASR" />
    <meta property="og:image" content="https://ioasr.org/static/favicon/apple-touch-icon.png" />
    <meta property="og:description" content="IOASR  Journalsis an international scholarly group comprised of prominent academicians and researchers around the world in the support of International Research Analysis EduTech Consortium and Publisher. IOASR is an open access peer-reviewed international forum for scholars and researchers involved in research to publish high quality and refereed papers."/>
    {% endblock %}

    <title>{% block pagetitle %}{% endblock %} | {% get_solo 'core.SiteConfiguration' as site_config %}{{ site_config.site_name }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">

    
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    {% block extrajs %}{% endblock %}
    <script src="{% static 'js/main.js' %}"></script>


    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    {% endcompress %}
    {% block extraCSS %}{% endblock %}

    {% include "add_ons/google_analytics.html" %}
    
    {% include "add_ons/google_tag_manager_head.html" %}
  </head>
 
  <body class="overflow-y-scroll overflow-x-hidden">
    {% include "add_ons/google_tag_manager_body.html" %}

    <div class="transition-all duration-300 lg:container">
      {% include "core/base/_navbar.html" %}
      {% include "core/base/_searchbar.html" %}
      {% block banner %}{% endblock banner %}

      <div class="min-h-3.5 bg-gray-50 p-5">
        {% block content %} {% endblock content %}
      </div>
      {% include "core/base/_footer.html" %}

      {% include "journals/modals/download-pdf-modal.html" %}
    </div>


    {% block customjs %}
    <script>
      feather.replace();
    </script>
    {% endblock customjs%}
  </body>
</html>
