<div class="mb-5 text-md flex justify-start items-center group underline-offset-4 hover:underline cursor-pointer hover:decoration-primary" onclick="location.href='{% url "journals:special-issue-about" url=journal.url %}'">
    <i data-feather="chevron-right" class="text-primary"></i> About Special Issue
</div>
<div class="mb-5 text-md flex justify-start items-center group underline-offset-4 hover:underline cursor-pointer hover:decoration-primary" onclick="location.href='{% url "journals:special-issue-propose" url=journal.url  %}'">
    <i data-feather="chevron-right" class="text-primary"></i> Propose a Special Issue
</div>
<div class="mb-5 text-md flex justify-start items-center group underline-offset-4 hover:underline cursor-pointer hover:decoration-primary" onclick="location.href='{% url "journals:special-issue-open" url=journal.url %}'">
    <i data-feather="chevron-right" class="text-primary"></i> Open Special Issues
</div>
<div class="mb-5 text-md flex justify-start items-center group underline-offset-4 hover:underline cursor-pointer hover:decoration-primary" onclick="location.href='{% url "journals:special-issue-published" url=journal.url %}'">
    <i data-feather="chevron-right" class="text-primary"></i> Published Special Issues
</div>